@tailwind base;

@layer base {
  h1 {
    @apply text-2xl font-bold;
  }
  hr {
    @apply mb-5 border-4 border-black;
  }
}

@tailwind components;
@tailwind utilities;

:root {
  --font-family: sans-serif;
}

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  #about,
  #archiving,
  #skills,
  #projects {
    scroll-margin-top: 100px;
  }
}

body {
  font-family: var(--font-family);
  background-color: var(--background-gray);
}

a {
  text-decoration: none;
  color: inherit;
}

/* .image-box img {
  width: 250px;
  height: 300px;
} */

#url-path {
  color: #3494dd;
}

#intro {
  &::before {
    content: "";
    opacity: 0.5;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: #000;
  }
}
